In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_html('https://www.basketball-reference.com/teams/BOS/2023.html')[0]

In [3]:
df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,9.0,Derrick White,SG,6-4,190,"July 2, 1994",us,5,"Colorado-Colorado Springs, Colorado"
1,30.0,Sam Hauser,PF,6-8,215,"December 8, 1997",us,1,"Marquette, Virginia"
2,12.0,Grant Williams,PF,6-6,236,"November 30, 1998",us,3,Tennessee
3,0.0,Jayson Tatum,PF,6-8,210,"March 3, 1998",us,5,Duke
4,40.0,Luke Kornet,C,7-2,250,"July 15, 1995",us,5,Vanderbilt
5,7.0,Jaylen Brown,SF,6-6,223,"October 24, 1996",us,6,California
6,13.0,Malcolm Brogdon,PG,6-5,229,"December 11, 1992",us,6,Virginia
7,42.0,Al Horford,C,6-9,240,"June 3, 1986",do,15,Florida
8,36.0,Marcus Smart,PG,6-3,220,"March 6, 1994",us,8,Oklahoma State
9,11.0,Payton Pritchard,PG,6-1,195,"January 28, 1998",us,2,Oregon
10,91.0,Blake Griffin,C,6-9,250,"March 16, 1989",us,12,Oklahoma
11,44.0,Robert Williams,C,6-9,237,"October 17, 1997",us,4,Texas A&M
12,57.0,Mike Muscala,C,6-10,240,"July 1, 1991",us,9,Bucknell
13,20.0,JD Davison (TW),PG,6-3,195,"October 3, 2002",us,R,Alabama
14,28.0,Mfiondu Kabengele (TW),PF,6-9,250,"August 14, 1997",ca,2,Florida State
15,99.0,Justin Champagnie,SF,6-6,200,"June 29, 2001",us,1,Pitt
16,NaN,Danilo Gallinari,SF,6-10,233,"August 8, 1988",it,13,NaN

In [4]:
today = datetime.today().strftime('%Y-%m-%d')
df['Birth Date'] = pd.to_datetime(df['Birth Date'])
cm = []

df['Wt'] = round(df['Wt'] / 2.205, 1)

for hight in df['Ht']:
    hight = hight.split('-')
    ft = int(hight[0])*30.48
    inch = int(hight[1])*2.54
    hight = ft+inch
    cm.append(round(hight, 2))
    
df['Ht'] = cm

In [5]:
df

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,9.0,Derrick White,SG,193.04,86.2,1994-07-02,us,5,"Colorado-Colorado Springs, Colorado"
1,30.0,Sam Hauser,PF,203.20,97.5,1997-12-08,us,1,"Marquette, Virginia"
2,12.0,Grant Williams,PF,198.12,107.0,1998-11-30,us,3,Tennessee
3,0.0,Jayson Tatum,PF,203.20,95.2,1998-03-03,us,5,Duke
4,40.0,Luke Kornet,C,218.44,113.4,1995-07-15,us,5,Vanderbilt
5,7.0,Jaylen Brown,SF,198.12,101.1,1996-10-24,us,6,California
6,13.0,Malcolm Brogdon,PG,195.58,103.9,1992-12-11,us,6,Virginia
7,42.0,Al Horford,C,205.74,108.8,1986-06-03,do,15,Florida
8,36.0,Marcus Smart,PG,190.50,99.8,1994-03-06,us,8,Oklahoma State
9,11.0,Payton Pritchard,PG,185.42,88.4,1998-01-28,us,2,Oregon
10,91.0,Blake Griffin,C,205.74,113.4,1989-03-16,us,12,Oklahoma
11,44.0,Robert Williams,C,205.74,107.5,1997-10-17,us,4,Texas A&M
12,57.0,Mike Muscala,C,208.28,108.8,1991-07-01,us,9,Bucknell
13,20.0,JD Davison (TW),PG,190.50,88.4,2002-10-03,us,R,Alabama
14,28.0,Mfiondu Kabengele (TW),PF,205.74,113.4,1997-08-14,ca,2,Florida State
15,99.0,Justin Champagnie,SF,198.12,90.7,2001-06-29,us,1,Pitt
16,NaN,Danilo Gallinari,SF,208.28,105.7,1988-08-08,it,13,NaN

In [6]:
pos_res = df.groupby('Pos').agg({'Ht': ['mean', 'max', 'min'], 'Wt': ['mean', 'max', 'min']})
pos_res

             Ht                          Wt
           mean     max     min        mean    max    min
Pos
C    208.788000  218.44  205.74  110.380000  113.4  107.5
PF   202.565000  205.74  198.12  103.275000  113.4   95.2
PG   190.500000  195.58  185.42   95.125000  103.9   88.4
SF   201.506667  208.28  198.12   99.166667  105.7   90.7
SG   193.040000  193.04  193.04   86.200000   86.2   86.2